<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue3 Todo</title>
    <script src="https://unpkg.com/vue@3.2"></script>

    <style>
        .work {
            outline: none;
            background: none;
            border: 0 none;
            font-size: 22px;
        }

        .check {
            text-decoration: line-through;
            color: green;
        }
    </style>
</head>

<body>
    <h1 class="tdl">To Do List</h1>
    <div class="app-list" id="app">
        <button class="filter" :class="{filterActive: filter == 'all'}" @click="filter = 'all' ">all</button>
        <button class="filter" :class="{filterActive: filter == 'complete'}" @click="filter = 'complete'">done</button>
        <button class="filter" :class="{filterActive: filter == 'undone'}" @click="filter = 'undone'">undone</button>
        <form @submit.prevent="addWork">
            <input v-model="inputWork" class="input-work" placeholder="Add a new task~">
            <button class="add" type="submit">Add</button>
        </form>
        <ul>
            <li v-for="(work, index ) in listFilter">
                <button @click="done(index)" class="work" v-bind:class="{check: work.complete}">
                    <i class="fa fa-check " v-bind:class="{active: work.complete }"></i> {{work.attribute}} </button>
                <td>{{ work.create }}</td>
                <button class="delete" @click="remove(index)">
                    삭제
                </button>
                <button class="edit">
                    수정
                </button>
            </li>
        </ul>
        <hr>
        <div class="remain">할 일: {{remain}}개 남음</div>
    </div>

    <script>

        var STORAGE_KEY = 'vue3-todo-localStorage'
        var listStorage = {
            fetch() {
                var list = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
                console.log("test")
                return list;
            },
            save(list) {
                console.log("test2")
                localStorage.setItem(STORAGE_KEY, JSON.stringify(list));
            }
        }

        const { createApp, computed, defineComponent, ref, watch } = Vue

        var app = createApp(defineComponent({
            setup() {
                const inputWork = ref('')
                const newId = ref(0)
                const filter = ref('all')
                const list = ref(listStorage.fetch())
                const remain = computed(() => list.value.filter(work => !work.complete).length)
                const listFilter = computed(() => {
                    if (filter.value == 'all') {
                        return list.value
                    } else if (filter.value == 'undone') {
                        return list.value.filter(work => !work.complete)
                    } else if (filter.value == 'complete') {
                        return list.value.filter(work => work.complete)
                    }
                    return list.value
                })

                const addWork = () => {
                    if (inputWork.value) {
                        let todate = new Date(+new Date() + 3240 * 10000).toISOString().replace("T", " ").replace(/\..*/, '');
                        list.value = list.value.concat({
                            id: newId.value++,
                            attribute: inputWork.value,
                            complete: false,
                            create: todate
                        });
                    }
                    inputWork.value = '';
                }

                // const complete = (work) => {
                //     work.complete = !work.complete;
                // }

                const done = (index) => {
                    // work.complete = !work.complete;
                    list.value = list.value.map((work, i) => {
                        if (i === index) work.complete = !work.complete;
                        return work
                    })
                }

                const remove = (index) => {
                    list.value = list.value.filter((_, i) => i !== index)
                }

                watch(() => list.value, (list) => {
                    listStorage.save(list);
                })

                return {
                    inputWork,
                    newId,
                    filter,
                    list,
                    remain,
                    listFilter,
                    addWork,
                    done,
                    remove
                }
            }
        }))

        app.mount('#app')

    </script>
</body>

</html>